ul{
    background: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

li{
    
    float:left;
    
}

li a,.dropbtn{

    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover, .dropdown:hover .dropbtn { 
    background-color: red;
}

li.dropdown{
    display: inline-block;

}

.dropdown-content{

    position: absolute;
    width: 80px;
    background-color: white;
    display: none;
    
}

.dropdown-content a{
    color: black;
    display: block;
    text-align: left;
    text-decoration: none;

}

.dropdown:hover .dropdown-content{
    display: block;

}

