*{
    box-sizing: border-box;
}

.pai{

    background: blue;
    height: 600px;
    display: flex;
    /* Controla a posição das div */
    flex-direction: row;
    flex-wrap: wrap;

    /* Alinhamento na horizontal */
    justify-content: center;
    /* Alinhamento na vertical */
    align-items: center;


}


.pai div{
    
    /* Crescimento uniforme das divs filho */
    flex-grow: 1;

    background: white;
    border: 1px solid green;
    margin: 5px;
    padding: 30px;
    text-align: center;

}