.float{
    border: 1px solid black;
    overflow: auto;
}

.float img{

    float: left;
    margin-right: 20px;
}

.h3{
    clear: both;

}
.lista{
    background: black;

}

li{
    display: inline-block;
}
li a {
    padding: 20px;
    text-decoration: none;
    color:white
    
    
}


li a:hover{
    background-color: antiquewhite;
    color: black;
}
.login{
    float: right;
}
.login a:hover{
    background-color: azure;
}