 /* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    body{
        background: blue;
        text-align: center;
    }
}

 /* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    body{
        background: green;
        text-align: center;
    }
} 

/* Dispostivos Médios (Tablets deitados, 768px para cima)  */
@media only screen and (min-width: 768px) {
    body{
        background: yellow;
        text-align: center;
    }
}

/* Dispostivos Largos (laptops/desktops, 992px para cima)  */
@media only screen and (min-width: 992px) {
    body{
        background: red;
        text-align: center;
    }
}


/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    body{
        background: purple;
        text-align: center;
    }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima)  */
@media only screen and (min-width: 1200px) {}

