.container{

    background-color: black;
    position: relative;
    /*  Para que os demais elementos possam se mover, é necessário a div  mão estar relative */

}

.div1{

    /* Define onde ficará o elemento em relação ao referncial */
    position: relative;
    left: 60px;

    width: 30%;
    height: 100px;
    background-color: yellow;
    display: inline-block;

    /* z-index: ; Define quem fica na frente */

}

.div2{

    width: 30%;
    height: 100px;
    background-color: rgb(83, 176, 192);
    display: inline-block;
    /* Trava no topo em relação a rolagem dentro da div mãe */
    position:sticky;
    top:0;

}

.div3{

    width: 30%;
    height: 100px;
    background-color: red;
    display: inline-block;
    /* Posicção em relação à div mãe */
    position: absolute;
    top:40px
}

.ola{

    background: green;
    color: white;
    width: 60px;
    right: 60px;

/* Fixa o elemento idependente da rolagem */
    position: fixed;
    bottom: 10px;
    right: 10px;
}

