h1{

    text-shadow: 1px 1px 10px;
    color: rgb(147, 114, 190);
}
.mult{
    color: black;
    text-shadow: 0 0 3px, 2px 2px 5px;
}

.box{
    width: 40%;
    height: 300px;
    background-color:white;
    box-shadow: 5px 5px 10px rgb(117, 52, 117);
}

img{
    width: 100%;
    height: 100%;

}